<div class="col">
    <div class="card h-100">
        <div class="card-header">
            <h5 class="card-title">{{ product.name }}</h5>
        </div>
        <div class="card-body">
            <p class="card-text">Описание: {{ product.description|truncatechars:100 }}</p>
            <h3>Цена: {{ product.price }} руб</h3>
        </div>
        <div class=" text-center mb-3 mt-2">
            <a href="{% url 'catalog:detail' product.pk %}">
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">подробнее</button>
            </a>
        </div>
    </div>
</div>