{% extends 'catalog/base.html' %}
{% load my_media %}
{% block content %}
    <div class="col-3">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Почта:</label>
                <input type="email" class="form-control" id="email"
                       name="email" required autocomplete="email"
                >
            </div>
            <button type="submit" class="p-2 btn btn-outline-primary">Сбросить</button>
        </form>
    </div>

{% endblock %}



