{% extends 'catalog/base.html' %}
{% load my_media %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header text-center">
                        <h1 class="display-4">{{ product.name }}</h1>
                    </div>
                    <div class="card-body">
                        <p class="lead">Описание: {{ product.description }}</p>
                        <div class="text-center mb-3">
                            <img src="{{ product.image|mymedia }}" class="img-thumbnail" alt="{{ product.name }}">
                        </div>
                        <p class="lead">Категория:
                            <a href="{% url 'catalog:category_detail' product.category.pk %}">
                                <span class="badge bg-primary">
                                    {{ product.category }}
                                </span>
                            </a>
                        </p>

                        {% if version.is_active == True %}
                            <p class="lead">Версия номер: {{ version.version_number }}</p>
                            <p class="lead">Название версии: {{ version.name }}</p>
                        {% endif %}

                        <p class="lead">Цена: <span class="text-success">{{ product.price }} Руб</span></p>
                        <p class="lead">Создан: {{ product.created_at|date:"d M Y H:i" }}</p>
                        <p class="lead">Обновлен: {{ product.updated_at|date:"d M Y H:i" }}</p>
                        <p class="lead">Автор:
                            <a href="{% url 'users:profile' product.autor.pk %}">
                                <span class="badge bg-primary">
                                    {{ product.autor.first_name }}
                                </span>
                            </a>
                        </p>
                        {% if product.autor == request.user or perms.catalog.can_edit_description %}

                            <a href="{% url 'catalog:update' product.pk %}" class="btn btn-outline-primary">
                                Редактировать продукт
                            </a>

                        {% endif %}
                        {% if product.autor == request.user %}

                            <a href="{% url 'catalog:delete' product.pk %}" class="btn btn-outline-danger">
                                Удалить продукт
                            </a>
                        {% endif %}

                    </div>

                    <div class="card-footer">
                        <a href="{% url 'catalog:category_detail'  product.category.pk %}"
                           class="btn btn-outline-primary">
                            Назад к категории
                        </a>
                        {% if product.autor == request.user %}
                            <a href="{% url 'catalog:create_version' %}?product_pk={{ product.pk }}"
                               class="btn btn-outline-primary">
                                Создать версию продукта
                            </a>
                            {% if version_all %}
                                <a href="{% url 'catalog:version_list' product.pk %}" class="btn btn-outline-primary">
                                    Список версий
                                </a>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}